* {
    font-family: monospace;
}

body {
    background-color: #dedede;
}

h1 {
    display: flex;
    justify-content: center;
}

header {
    grid-area: hd;

    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 18px;

    grid-area: nv;
}

nav a{
    text-decoration: none;
}

.main-content {
    text-align: center;

    grid-area: ct;

    
}

.main-content p{
    font-size: 18px;
}

.main-footer {
    grid-area: ft;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "hd"
        "nv"
        "ct"
        "ft"
    ;
}

/*Javascript Game*/
.game-box{
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 50vh;
}

#game-start{
    width: 33vw;
    height: 10vh;

    font-size: 1.3rem;

}

#choose-class{
    display: none;
    text-align: center;
}

#choose-class button{
    margin: 2px;
    text-align: center;
}

#stats{
    display: none;
    text-align: center;
}

#mobile-button{
    display: none;
}

#adventure-choices{
    display: none;
}

#adventure-text{
    display: none;
}

#fight-button{
    display: none;
}

#battle-text{
    display: none;
}

#player-stats{
    display: none;
}

#enemy-stats{
    display: none;
}

#battle-choices{
    display: none;
}

.center-button{
    display: flex;
    justify-content: center;
    width: 100vw;
}

#reset-button{
    display: none;
}
/*Loading animation*/

.center{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    position: absolute;
}

.box{
    width: 10px;
    height: 10px;
    background-color: darkblue;
}

@keyframes loading {
    0% {}
    25% {}
    50% {}
    75% {}
    100% {}
}