* {
    font-family: monospace;
    margin: 0px;
}

body {
    background-color: slategray;
}

h1 {
    display: flex;
    justify-content: center;
}

header {
    grid-area: hd;

    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 18px;

    grid-area: nv;
}

nav a{
    text-decoration: none;
}

.main-content {
    text-align: center;

    grid-area: ct;

    
}

.main-content p{
    font-size: 18px;
}

.main-footer {
    grid-area: ft;
}

.picture-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.picture-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 340px;

    font-size: large;

    background-color: dimgray;
    border: solid 4px lightgrey;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "hd"
        "nv"
        "ct"
        "ft"
    ;
}

@media (min-width: 700px) {
    
    .grid {
        grid-template-areas:
            "hd hd"
            "nv nv"
            "ct ct"
            "ft ft";
    }

    .main-content{
        width: 700px;

        margin: auto;
    }

    .picture-box{
        display: grid;

        grid-template-columns: 1fr 1fr;
    }

    nav{
        justify-content: center;

        background-color: lightgrey;
        border: solid 4px darkgray;
        border-radius: 2px;
        padding: 5px;
    }

    nav a{
        margin-left: 20px;
        margin-right: 20px;;
    }
}
    

/*Javascript Game*/
.coding-header,
.coding-nav,
.coding-content
{
    background-color: slategray;
}

.game-box{
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 50vh;
}

#game-start{
    width: 33vw;
    height: 10vh;

    font-size: 1.3rem;

    color: #fff;
    background-color: #993333;
    border: 2px solid #441111;
    border-radius: 3px;

    transition: all 0.15s;
}

#game-start:hover{
    background-color: #441111;
    color: #aa5555;
}

#game-start:active{
    background-color: #441111;
    color: #aa5555;
    border: 2px solid #441111;
    transform: scale(0.98);
    box-shadow: darkred;
}

#choose-class{
    display: none;
    text-align: center;

    font-size: 25px;
}

#choose-class button{
    margin: 2px;
    text-align: center;
}

.class-button{
    width: 25vw;
    height: 40px;

    font-size: 20px;

    background-color: #993333;
    border: 2px solid #441111;

    transition: all 0.15s;
}

.class-button:hover{
    background-color: #441111;
    color: #aa5555;
}

.class-button:active{
    background-color: #441111;
    color: #aa5555;
    border: 2px solid #441111;
    transform: scale(0.98);
    box-shadow: darkred;
}

#mobile-button{
    width: 25vw;
    height: 40px;

    font-size: 20px;

    background-color: #993333;
    border: 2px solid #441111;

    transition: all 0.15s;
}

#stats{
    display: none;
    text-align: center;
}

#mobile-button,
#adventure-choices,
#adventure-text,
#fight-button,
#battle-text-player,
#battle-text-enemy,
#player-stats,
#enemy-stats,
#battle-progress
{
    display: none;
}

.center-button{
    display: flex;
    justify-content: center;
    width: 100vw;
}

#reset-button{
    display: none;
}

#adventure-text{
    font-size: 17px;
    text-align: center;

    margin-bottom: 10px;
}

#adventure-choices
{
    text-align: center;
}

.center-the-dang-button{
    text-align: center;
}

#choice1,
#choice2,
#fight-button
{
    height: 30px;

    font-size: 18px;

    background-color: lightsteelblue;
    border: solid 2px darkslategrey;
}

#choice1:active,
#choice2:active,
#fight-button:active
{
    background-color: #441111;
    color: #aa5555;
    border: 2px solid #441111;
    transform: scale(0.98);
    box-shadow: darkred;
}

#battle-text-player,
#battle-text-enemy
{
    text-align: center;

    font-size: 18px;
    margin: 4px auto 4px auto;
}

#battle-text-player{
    color: green;
    background-color: #99ff99;
}

#battle-text-enemy{
    color: darkred;
    background-color: red;
}

#player-stats{
    font-size: 18px;
    text-align: center;

    grid-area: pStats;
}

#enemy-stats{
    font-size: 18px;
    text-align: center;

    grid-area: eStats;
}

#battle-stats{
    display: grid;
    grid-template-areas:
        "pStats eStats";

    background-color: lightsteelblue;

    margin: 5px auto 15px auto;
}

.battle-choice{
    background-color: lightskyblue;
}

.battle-choice:hover,
.battle-choice:active
{
    animation-name: battleFlash;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes battleFlash {
    0% {background-color: lightskyblue; color: black;}
    50% {background-color: blue; color: white;}
    100% {background-color: lightskyblue; color: black;}
}

#option-fight{
    grid-area: fight;

    
    height: 40px;

    font-size: 18px;
}

#option-block{
    grid-area: block;

    height: 40px;

    font-size: 18px;
}

#option-magic{
    grid-area: magic;

    height: 40px;

    font-size: 18px;
}

#option-run{
    grid-area: run;

    height: 40px;

    font-size: 18px;
}

#battle-choices{
    display: none;

    grid-template-areas:
        "fight block"
        "magic run";
}

/*Game Debug*/
.debug{
    margin-top: 70px;
    text-align: center;
}

.debug-button{
    margin: 2px;
}